.page {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-right: auto;
  margin-left: auto;
  min-width: 1100px;
  max-width: 1600px;
}

.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
}

.nav {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
}

.nav__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__title {
  max-width: 709px;
  margin: 183px 0 28px 0;
}

.header__span-accent {
  font-style: italic;
  color: #2f80ed;
  font-family: "Noto Serif";
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  display: block;
}

.header__span-line {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__description {
  max-width: 683px;
  line-height: 30px;
  margin: 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  justify-content: space-between;
  display: flex;
  margin-top: auto;
}

.header__paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-color: #0a2850;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 215px;
  box-sizing: border-box;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  margin-right: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
  margin-right: 80px;
  margin-bottom: 80px;
  max-width: 438px;
}

.recipes__videos {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  padding: 100px 0;
}

.reservation h2 {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
  text-align: center;
  margin: 0 0 80px 0;
}
.reservation__form {
  max-width: 385px;
  margin: 0 auto;
}

.reservation label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  display: block;
  margin-bottom: 8px;
}

.reservation__form input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  border: 1px solid #838383;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 32px;
}
.reservation__form input::placeholder {
  color: #838383;
}

.reservation input[type="checkbox"] {
  margin-right: 12px;
}
.reservation button[type="submit"] {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 32px;
}
.reservation__button:hover {
  opacity: 0.7;
}

.reservation__label[for="checkbox-d"] {
  display: inline-block;
  align-items: end;
}